

<body>
    <h2>Rooted in the City: NYC’s Tree Health Uncovered</h2>
    <p>Each tree is represented by a colored dot that reflects its current health condition — from excellent to dead. By exploring the map, users can gain insight into the state of NYC’s urban forest, understand the vital role trees play in improving air quality, reducing heat, and supporting local wildlife, and see where the city’s green infrastructure needs attention. This tool aims to connect people with the living trees that quietly sustain the city’s environment and encourage awareness and care for our urban canopy.</p>



<div class="map-container">
  <div id="mymap"></div>
  
  <div id="map-key">
    <h3>Map Key</h3>
    <ul>
      <li><span class="key-box excellent"></span> Excellent</li>
      <li><span class="key-box good"></span> Good</li>
      <li><span class="key-box fair"></span> Fair</li>
      <li><span class="key-box poor"></span> Poor</li>
      <li><span class="key-box critical"></span> Critical</li>
      <li><span class="key-box dead"></span> Dead</li>
    </ul>
  </div>
</div>

<div id="button-group">
  <button id="All-Trees-Button">All</button>
  <button id="Excellent-Button">Excellent</button>
  <button id="Good-Button">Good</button>
  <button id="Fair-Button">Fair</button>
  <button id="Poor-Button">Poor</button>
  <button id="Critical-Button">Critical</button>
  <button id="Dead-Button">Dead</button>
</div>



<script src="/stylesheets/main.js"></script>
</body>