<p>This is a test</p>


<body>

<button id="All-Trees-Button">All</button>
<button id="Excellent-Button">Excellent</button>
<button id="Good-Button">Good</button>
<button id="Fair-Button">Fair</button>
<button id="Poor-Button">Poor</button>
<button id="Critical-Button">Critical</button>
<button id="Dead-Button">Dead</button>

<div id="mymap"></div>


<script src="/stylesheets/main.js"></script>
</body>