<h1 id='title'>{{title}}</h1>
<div id='loading'>Loading Artists...</div>



<!-- Container for artist details (must stay BELOW the list) -->
<div id="artist-info" class="artist-info hidden">
  <div class="artist-image-container">
    <img id="artist-image" class="artist-image" src="" alt="Artist image" />
  </div>
  <div class="artist-details">
    <h2 id="artist-name"></h2>
    <p id="artist-popularity"></p>
    <audio id="artist-preview" controls></audio>
  </div>
</div>
