<nav>
    <ul>
        <li>{{title}}</li>
    </ul>
</nav>

<div id="screen">
    <h2>There are over 2,000 LinkNYC kiosks throughout New York City</h2>

    <p>Managed by the Office of Technology and Innovation (OTI) in partnership with its Public Communications Structure franchisee, 
    CityBridge, LinkNYC provides fast and free public Wi-Fi to New Yorkers, small businesses, and visitors. Launched in 2015 to 
    replace public pay telephones, LinkNYC also offers free calling, mobile device charging, and access to 911 and 311 – all at 
    no cost to taxpayers. <a href ="https://www.nycstreetdesign.info/furniture/linknyc#:~:text=35%20inches%2Dlength%20by%2011,the%20sites%20on%20Open%20Data" target="_blank">&#128279;</a>
    </p>

    <button id="show-tablet-up">Active Tablets</button>
    <button id="show-tablet-down">Inactive Tablets</button>
    <button id="show-wifi-up">Active WiFi</button>
    <button id="show-wifi-down">Inactive WiFi</button>
    <button id="show-all-kiosks">Show All Kiosks</button>
    <p id="totalCount"></p>
    <p id="boroughCount"></p>
    <div id="map"></div>
</div>
