<html> 
<body>
    <h2>What is Concrete Roots?</h2>
    <p>Concrete Roots is a look into the green forest of the concrete jungle that is NYC. Every tree plays a role in keeping the city alive — filtering air, cooling streets, and brightening our commutes. </p>

    <div>Image</div>

    <h2>Why It Matters</h2>
    <p>Mention how trees improve NYC:
Reduce heat and noise
Clean air and water
Increase property value
Provide habitats for birds/insects</p>


<section class="quick-facts">
  <h2>Did You Know?</h2>
  <div class="card-container">

    <div class="flip-card" tabindex="0">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="/images/tree.png" alt="Tree Icon">
        </div>
        <div class="flip-back">
          <p>NYC has an estimated 7.0 million trees (encompassing all woody plants greater than one-inch diameter at breast height [d.b.h.]) with tree canopy that covers 21 percent of the city.</p>
          <a href="https://research.fs.usda.gov/treesearch/57234#:~:text=Abstract,is%20estimated%20at%20$5.7%20billion." target="_blank">Source →</a>
        </div>
      </div>
    </div>

    <div class="flip-card" tabindex="0">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="" alt="Tree Icon">
        </div>
        <div class="flip-back">
          <p>The most common tree species in NYC are the London Planetree, Honeylocust, Callery Pear, Pin Oak, and Norway Maple.</p>
          <a href="https://www.nycgovparks.org/learn/trees-and-plants/top-five-most-common-street-trees-in-nyc#:~:text=Meet%20the%20top%205%20most,foot%20or%20more%20in%20length." target="_blank">Source →</a>
        </div>
      </div>
    </div>

    <div class="flip-card" tabindex="0">
      <div class="flip-inner">
        <div class="flip-front">
          <img src="" alt="Tree Icon">
        </div>
        <div class="flip-back">
          <p> NYC trees remove about 51,000 tons of carbon per year (186,000 tons CO2/year) ($6.8 million per year) and about 1,100 tons of air pollution per year ($78 million per year).</p>
          <a href="https://research.fs.usda.gov/treesearch/57234#:~:text=Abstract,is%20estimated%20at%20$5.7%20billion." target="_blank">Source →</a>
        </div>
      </div>
    </div>

  </div>
</section>




</body>
</html>
