<nav>
    <ul>
        <li>{{title}}</li>
        <li>Live Map</li>
        <li>Borough Split</li>
    </ul>
</nav>
<h2>New York Map:</h2>
<button>Display Working Tablets</button>
<button>Display Working WiFi</button>
<div id="map"></div>