<h1>{{title}}</h1>

<header>
    <h1>NYC Trees Conditions!</h1>
</header>

<div>possible nav bar with options to change the way the graphs look like or show different information like least favorite to most favorite?</div>

<div>area for bar graphs / charts</div>

<div id="mymap"></div>


<button id="Excellent-Button">Excellent</button>
<button id="Good-Button">Good</button>
<button id="Fair-Button">Fair</button>
<button id="Poor-Button">Poor</button>
<button id="Critical-Button">Critical</button>

<script src="/stylesheets/main.js"></script>
