<h1>{{title}}</h1>

<header>
    <h1>NYC Favorite Trees!</h1>
</header>

<div>possible nav bar with options to change the way the graphs look like or show different information like least favorite to most favorite?</div>

<div>area for bar graphs / charts</div>

<div id="mymap"></div>

<script src="/stylesheets/main.js"></script>
