<p>This is a test</p>


<body>
    <div id="mymap"></div>


<button id="Excellent-Button">Excellent</button>
<button id="Good-Button">Good</button>
<button id="Fair-Button">Fair</button>
<button id="Poor-Button">Poor</button>
<button id="Critical-Button">Critical</button>

<script src="/stylesheets/main.js"></script>
</body>

