<nav>
    <ul>
        <li>{{title}}</li>
        <li>Live Map</li>
    </ul>
</nav>
<h2>New York Map:</h2>
<button id="show-tablet-up">Display Working Tablets</button>
<button id="show-wifi-up">Display Working WiFi</button>
<button id="show-all-kiosks">Display All Kiosks</button>
<div id="map"></div>