<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

</head>

<body>
  {{{body}}}
  <script src='javascripts/script.js'></script>
</body>

</html>