<nav>
    <ul>
        <li><a href="/">About NYC Trees</a></li>
        <li><a href="/conditions">Tree Conditions</a></li>
        <li><a href="/rankings">Tree Rankings</a></li>
        <a href="/gallery">Gallery</a>
    </ul>
</nav>