<link rel="stylesheet" href="/stylesheets/style.css">

<nav>

        <li><a href="/">About NYC Trees</a></li>
        <li><a href="/conditions">Tree Conditions</a></li>
        <li><a href="/rankings">Tree Rankings</a></li>
        <li><a href="/gallery">Gallery</a></li>
    </ul>
</nav>