html, body {
    height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #0e0e0e;
}

html {
  padding: 0px;
  margin: 0px;
}

/*Styling for the navbar to go through the different interactions*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: #2c2c2f;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

ul li {
  float: right;
  color: white;
  margin-left: 1em;
}

ul li:first-child {
  margin-left: 0rem;
  cursor: none;
}

/*Design of header leading to show the interaction*/
h2 {
  padding-top: 2rem;
  padding-left: 2rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;

}

#screen {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  
  background-color: #01a2eb;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 20%;
}

/*Leaflet Map*/
#map {
  height: 75vh;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  padding: 20px;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 2px;
}

button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6)
}

#show-tablet-up {
  background-color: #efa508;
}

#show-tablet-down {
  background-color: #7a99a5;
}

#show-wifi-up {
  background-color: #009933;
}

#show-wifi-down {
  background-color: #7a99a5;
}

#show-all-kiosks {
  background-color: #714bdd;
}


/*Description*/
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  font-size: 18px;
}

#totalCount {
  background-color: #ffffff;
  color: #01a2eb;
  padding: 10px;
  margin: 0px;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  font-weight: 500;
}

#boroughCount {
  background-color: #efa508;
  color: #ffffff;
  padding: 10px;
  margin: 0px;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 2px;
  font-weight: 500;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

*::-webkit-scrollbar {
  height: 25px;
  width: 25px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #7a99a5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #B3C4CB;
}

/* Mobile Design*/
 @media (max-width: 500px) {
            #screen{
              min-height: 100vh;
              margin-left: 5%;
              margin-right: 5%;
              margin-bottom: 10%;
              background-color: #01a2eb;
              padding-left: 3%;
              padding-right: 3%;
            }
            #map {
                padding: 5px; 
                height: 50vh;
            }
            #buttons {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0%;
              font-size: 12px;
            }
            #totalCount, #boroughCount {
                padding: 5px;
                margin: 0px;
                align-items: center;
                border-style: solid;
                border-color: black;
                border-width: 1px;
                border-radius: 2px;
                font-weight: 450;
                font-size: 15px;
            }

        }
