* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  padding: none;
}

.popularity {
  overflow: auto;
  white-space: nowrap;
}

.artist {
  display: inline-block;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
}

.artist-button {
  background-color: black;
  color: white;
  border: none;
  padding: 1vh 1vh;
}



/* === Artist Info Section === */
.artist-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px auto; 
  width: 80%;
  max-width: 800px;
  gap: 20px;
}


.artist-info.hidden {
  display: none;
}

.artist-image-container {
  flex-shrink: 0;
}

.artist-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.artist-details h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.artist-details p {
  margin-bottom: 10px;
  color: #555;
}

audio {
  width: 100%;
  outline: none;
}

