body {
  margin: 0px;
  padding: 0px;
  background-color: #0e0e0e;
}

html {
  padding: 0px;
  margin: 0px;
}

/*Styling for the navbar to go through the different interactions*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: #2c2c2f;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

ul li {
  float: right;
  color: white;
  margin-left: 1em;
}

ul li:first-child {
  margin-left: 0rem;
  cursor: none;
}

/*Design of header leading to show the interaction*/
h2 {
  padding-top: 2rem;
  padding-left: 2rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;

}

#screen {
  height: 80vh;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 10%;
  background-color: #01a2eb;
  padding-bottom: 5%;
}

/*Leaflet Map*/
#map {
  height: 75vh;
  border-style: solid;
  border-color: black;
  border-width: .25em;
  padding: 20px;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 2px;
}

button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6)
}

#show-tablet-up {
  background-color: #efa508;
}

#show-wifi-up {
  background-color: #009933;
}

#show-all-kiosks {
  background-color: #714bdd;
}


/*Description*/
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

*::-webkit-scrollbar {
  height: 25px;
  width: 25px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #7a99a5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #B3C4CB;
}

/* Mobile Design*/
@media (max-width: 480px) {
  .map {
    padding: 5px;
  }
}